In [2]:
#Q1
a = 'pw skills'
b = ['mango','apple','strawberry']
c = 0.4
d = ('raghu','rama','raju')

In [3]:
#Q2
#var1 is a string datatype.
#var2 is a string datatype.
#var3 is a  list datatype.
#var4 is a int datatype.

In [4]:
#Q3
# '/' is a divison operator
# '%' is a modulus(remainder) operator
# '//' is a floor operator
# '**' is a exponentiation operator

In [5]:
my_list = [
    5,                     # int (Integer)
    2.4434,                   # float (Floating-point number)
    "Hey",                # str (String)
    True,                   # bool (Boolean)
    [1, 2, 3],              # list (List)
    ('raja','ram'),              # tuple (Tuple)
    {1,4,3},              # set (Set)
    {"name": "vinay"},       # dict (Dictionary)
    None,                   # NoneType (None)
    b"byte_string"          # bytes (Bytes)
]

print(my_list)

for i in my_list:
    print(i)

[5, 2.4434, 'Hey', True, [1, 2, 3], ('raja', 'ram'), {1, 3, 4}, {'name': 'vinay'}, None, b'byte_string']
5
2.4434
Hey
True
[1, 2, 3]
('raja', 'ram')
{1, 3, 4}
{'name': 'vinay'}
None
b'byte_string'

In [6]:
#Q5 For the question lets take the exapmle
#A = 44
#B = 2
#We need to know how mnay time A is divisible by B.
A = 44
B = 2
count = 0
#we will check how many time A is divisble by b Using while loop.
while A%B == 0:
    A//=B
    count += 1
print(count)

2

In [17]:
#Q6Creating list by using 25 data types
new = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
for i in new:
    if i%3==0:
        print(f'{i}  is divivsible by 3')
    else:
        print(f'{i}  is not divisible by 3')

1  is not divisible by 3
2  is not divisible by 3
3  is divivsible by 3
4  is not divisible by 3
5  is not divisible by 3
6  is divivsible by 3
7  is not divisible by 3
8  is not divisible by 3
9  is divivsible by 3
10  is not divisible by 3
11  is not divisible by 3
12  is divivsible by 3
13  is not divisible by 3
14  is not divisible by 3
15  is divivsible by 3
16  is not divisible by 3
17  is not divisible by 3
18  is divivsible by 3
19  is not divisible by 3
20  is not divisible by 3
21  is divivsible by 3
22  is not divisible by 3
23  is not divisible by 3
24  is divivsible by 3
25  is not divisible by 3

#Q7In programming, mutable and immutable refer to whether or not a data type can be modified after it is created.

Mutable objects can be changed after their creation,
meaning their contents can be altered without changing their identity
Examples in Python include lists, dictionaries, and sets.

Immutable objects cannot be changed after they are created. 
Any operation that tries to modify the object will result in the creation of a new object.
Examples include strings, tuples, and numbers (integers, floats).